.add-box {
  display: flex;
  border: 2px solid #929292;
  width: 100px;
  height: 100px;
  margin-top: 80px;
  margin-left: 100px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  background: transparent;
  cursor: pointer;
  background: rgba(247, 245, 245, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.add-box div {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #0047ca;
}
